.container{
  display: flex;
  flex-direction: column;
  gap: 15em;
  height: 170vh;
}

.a{
  background-color: blue;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b{
  background-color: orange;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c{
  background-color: pink;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}