/* body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


h2 {
  font-size: 22px;
  text-align: center;
  font-weight: 900;
}

img {
  height: 50vh; 
  
  
} */

/*-------------------------------- */

/* body {
  margin: 0;

  font-family: "Times New Roman", Times, serif;
  
} 

.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  z-index: 2;
  width: 100%;
  max-width: 100vh;
  height: 100%; 
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  overflow: hidden; 
}

.text {
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
  background-color: white;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin: 0 10px;
  padding: 6px 6px;
  border-radius: 25px;
}

.img-container {
  display: flex;
  justify-content: center;
} */


/* slider */

a {
  color: currentColor;
}

body {
  margin: 0;
}

#container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  margin-left: 3rem;
  overflow: hidden;
  width: 496px;
}

#credit {
  bottom: 1rem;
  color: gray;
  left: 1rem;
  position: fixed;
}

#grid {
  column-gap: 3rem;
  display: grid;
  grid-auto-columns: 320px;
  grid-auto-flow: column;
  grid-template-rows: 180px;
  width: fit-content;
}

.image {
  height: 100%;
  object-fit: cover;
  transform-origin: center left;
  width: 100%;
}

.image:not(:first-child) {
  transform: scale(0.7);
}